node_modules
npm-debug.log
.env
.env.*
!.env.example
.git
.gitignore
.vscode
.editorconfig
coverage
tests
*.test.js
*.test.jsx
*.md
!README.md
.prettierrc
eslint.config.js
vitest.config.js
jsconfig.json
.github
